.nav-main {
    @include contain;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .brand {
        display: flex;
        font-size: 21px;
        font-weight: bold;
        font-style: italic;
        color: $pink;
        align-items: center;
        svg { margin-right: 8px; }
    }
    
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        text-align: right;
        margin: 0;
        padding: 0;
    }
    
    li { margin-left: 32px; }
    
    li a {
        @include smooth;
        color: $black;
        font-size: 21px;
        font-weight: bold;
        padding: 5px 0;
        &:hover {
            color: $pink;
        }
        &.active {
            border-bottom: 5px solid $pink;
        }
    }
}

header.page-header {
    @include contain;
    border-bottom: 8px solid $black;
    margin-bottom: 40px;
}

.hero {
    margin-top: 180px;
    max-width: 440px;
    margin: 0 auto;
    height: calc(80vh - 144px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    h1 { 
        font-size: 260px;
        font-weight: 400;
        line-height: 180px;
    }
    
    h2 {
        font-size: 54px;
        border-bottom: 8px solid $black;
        padding-bottom: 8px;
        margin-bottom: 40px;
    }
    
    p {
        font-size: 21px;
        line-height: 1.5;
        text-align: left;
    }
}

section.main {
    @include contain;
}

.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    
    .item {
        margin-bottom: 56px;
    }
}

.feed-cover {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 16px;
    color: #fff;
    background: $black;
    background-size: cover;
    height: 260px;
    max-width: 100%;
    transition: all .21s ease;
    margin-bottom: 16px;
    position: relative;
    
    &:hover { background: $pink; }
    
    .feed-title {
        width: 100%;
    }
    
    .feed-count {
        position: absolute;
        height: 48px;
        width: 48px;
        background: $blue;
        color: #fff;
        top: -24px;
        right: -24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        span {
            text-align: center;
            width: 100%;
        }
    }
}

.add-feed {
    background: $pink;
    opacity: .8;
    transition: none;
    &:hover { opacity: 1; }
}

.feed-description {
    font-size: 18px;
    line-height: 1.4;
    padding: 0 5px;
}

.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 24px 40px;
    text-align: center;
}